/* font family */
 .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  
  .raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style:normal;
  }
  a{
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
  
.body{
    font-family: "Roboto", sans-serif;
background-color:#FFFFFF;
color: #434455;
}
.header-logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:#4d5ae5;
}
.header-logo:hover{
color: #404bbf;
}
.header-logo:focus{
color: #404bbf;
}
.logo-color{
  color: #2e2f42;  
  
}
  .header-adres-list{
color: #2E2F42;
font-family:'Times New Roman', Times, serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;

  }
  address{
    font-style: normal;
  }
  .header-adres{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .header-adres:hover{
    color: #404BBF;
   }
   .header-adres:focus{
    color: #404BBF;
   }
.section-title{
  background: #2E2F42;
  margin: 1440,600,72;
  }
.section-logo{
  font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;



}
.button{
  background-color: #4d5ae5;
  font-family:"Roboto", sans-serif;
  font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff
}
.button:hover{
 background-color: #404BBF;
}
button:focus{
  background-color: #404BBF;
}
.button{
  cursor: pointer
}


.header-list{
  color: #2E2F42 ;
  font-family:"Raleway",sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
}
.section-strategy-list{
  font-family:"Raleway",sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42 ;
}

.list-studio-header{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;

}
.list-studio-header:hover{
  color:  #404bbf
}
.list-studio-header:focus{
  color:  #404bbf
}


.section-strategy-list{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;

}
.section-strategy-paragraf{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}
.section-our-team{
  background-color: #F4F4FD;
}
.section-team-logo{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
  

}
.section-team-list{
  background-color:#FFFFFF;
}
.team-name{
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;

}
.team-paragraf{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}
.section-portfolio-logo{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
}
.section-portfolio-name{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-portfolio-paragraf{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer{
background-color: #2e2f42;

}
.footer-logo{
  font-family:"Raleway",sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-span{
  color: #f4f4fd;
}
.footer-paragraf{
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
}